<div class="row mb-4">
  <div class="col col-12 col-sm-12 col-md-6 col-lg-8">
    <img src="{{game.image}}" style="width: 100%;" alt="{{game.title}}"/>
  </div>
  <div class="col col-12 col-sm-12 col-md-6 col-lg-4">
    <h2 class="text-capitalize mt-3">{{game.title}}</h2>
    <p>{{game.description}}</p>
    <div class="btn-group" *ngIf="!added">
      <a  type="button" class="btn btn-success" (click)="addGameToUser(game, user.id); addUserToGame(user.id, game._id)"><i class="pi pi-plus"></i>Ajouter à la liste</a>
    </div>
    <div class="btn-group" *ngIf="added">
      <a  type="button" class="btn btn-success" ><i class="pi pi-check"></i>Dans la liste</a>
      <a  type="button" class="btn btn-danger" (click)="removeGameToUser(game, user.id); removeUserToGame(user.id, game._id)"><i class="pi pi-trash"></i>Retirer la liste</a>
    </div>
  </div>
</div>
<div>
  <h3 class="text-uppercase">Évènements en cours</h3>
</div>
