<div class="alert alert-warning" *ngIf="logoutMessage.length > 0">{{logoutMessage}}</div>

<div class="col-md-12">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <p-message severity="warn" text="Echec de connexion - {{errorMessage}}" styleClass="p-mr-2" *ngIf="f.submitted && isLoginFailed"></p-message>

      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <p-message severity="error" text="Le nom d'utilisateur est obligatoire." styleClass="p-mr-2" *ngIf="username.errors && f.submitted && username.errors.required"></p-message>
      </div>
      <div class="form-group mt-3">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <p-message severity="error" text="Le mot de passe est obligatoire." styleClass="p-mr-2" *ngIf="password.errors && f.submitted && password.errors.required"></p-message>
        <p-message severity="error" text="Le mot de passe doit contenir au minimum 6 caractères." styleClass="p-mr-2" *ngIf="password.errors && f.submitted && password.errors.minlength"></p-message>

      </div>
      <div class="form-group mt-3">
        <button class="btn custom-btn">
          Connexion
        </button>
      </div>
    </form>

    <p-messages severity="success" *ngIf="isLoggedIn">
      <ng-template pTemplate>
        <div class="p-ml-2">Connecté en tant que {{ roles }}.</div>
      </ng-template>
    </p-messages>
</div>
