<div class="alert alert-success" *ngIf="message.length > 0">{{message}}</div>

<h3 class="text-capitalize">
  Bienvenue <strong>{{ currentUser.username }}</strong> !
</h3>
<div class="btn-toolbar">
  <button class="btn update-btn"><i class="pi pi-pencil"></i>Modifier le profil</button>
  <button class="btn delete-btn" (click)="logout()"><i class="pi pi-sign-out"></i>Se déconnecter</button>
</div>

<div class="mt-4">
  <h3 class="text-capitalize">MES JEUX</h3>
  <div class="row mt-3">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-4" *ngFor="let game of user.games">
      <div class="card mb-4" gamesBorderCard>
        <a href="games/{{game._id}}">
          <img class="card-img-top" style="max-height: 150px" src="{{game.image}}" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{game.title}}</h5>
          <p class="card-text">{{game.description}}</p>
        </div>
        <!--      <div class="btn-group">
                <a  type="button" class="btn btn-success" (click)="addGameToUser(game, user._id)"><i class="pi pi-plus"></i>Ajouter à la liste</a>
              </div>-->
        <div class="btn-group">
          <a  type="button" class="btn btn-success"><i class="pi pi-check"></i>Dans votre liste !</a>
        </div>
      </div>
    </div>
  </div>
</div>

