<!--<div class="alert alert-success" *ngIf="added">Le jeu a été ajouté à votre liste !</div>-->

<div class="row">
  <div class="col col-12 col-sm-12 col-md-12 col-lg-4" *ngFor="let game of games">
    <div class="card mb-4" gamesBorderCard>
      <a href="games/{{game._id}}">
      <img class="card-img-top" style="max-height: 150px" src="{{game.image}}" alt="Card image cap">
      </a>
        <div class="card-body">
        <h5 class="card-title text-capitalize">{{game.title}}</h5>
        <p class="card-text">{{game.description}}</p>
      </div>
      <div class="btn-group" *ngIf="game.users.includes(connected_user.id)">
        <a  type="button" class="btn btn-success"><i class="pi pi-check"></i>Dans la liste</a>
        <a  type="button" class="btn btn-danger"><i class="pi pi-trash"></i>Supprimer</a>
      </div>
      <div class="btn-group" *ngIf="!game.users.includes(connected_user.id)">
        <a  type="button" class="btn btn-success" (click)="addGameToUser(game, connected_user.id); addUserToGame(connected_user.id, game._id)"><i class="pi pi-plus"></i>Ajouter à la liste</a>
      </div>
    </div>
  </div>
</div>
