.card {
  background-color: #3d405b;
  box-shadow: 1px 1px 10px 1px black;
}

a {
  text-decoration: none;
  color: inherit;
}

.alert-success {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #81b29a;
  text-align: center;
}
